<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cityu.dts.dao.DefectDao">

    <select id="queryDtsList" resultType="com.cityu.dts.model.DtsInfo">
        SELECT id,
               title,
               dts_type,
               cur_state,
               cur_user,
               project_id
        FROM tbl_dts
    </select>

    <insert id="insertDts" parameterType="com.cityu.dts.model.DtsInfo">
        INSERT INTO tbl_dts (title, dts_type, cur_state, cur_user, project_id)
        VALUES (#{title}, #{dtsType}, #{curState}, #{curUser}, #{projectId})
    </insert>

    <update id="updateDts" parameterType="com.cityu.dts.model.DtsInfo">
        UPDATE tbl_dts
        SET title      = #{title},
            dts_type   = #{dtsType},
            cur_state  = #{curState},
            cur_user   = #{curUser},
            project_id = #{projectId}
        WHERE id = #{id}
    </update>

    <delete id="deleteDtsById" parameterType="int">
        DELETE FROM tbl_dts WHERE id = #{id}
    </delete>

</mapper>